<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ user.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        .profile-container {
            max-width: 800px;
            margin: 50px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        .profile-header {
            display: flex;
            align-items: center;
        }
        .profile-header img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-right: 20px;
        }
        .profile-header h1 {
            margin: 0;
        }
        .profile-bio {
            margin-top: 20px;
        }
        .profile-details {
            margin-top: 20px;
        }
        .profile-details dt {
            font-weight: bold;
        }
        .profile-details dd {
            margin: 0 0 10px 0;
        }
    </style>
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ url_for('static', filename=user.profile_picture) }}" alt="Foto de {{ user.name }}">
            <h1>{{ user.name }}</h1>
        </div>
        <div class="profile-bio">
            <p>{{ user.bio }}</p>
        </div>
        <dl class="profile-details">
            <dt>Email:</dt>
            <dd>{{ user.email }}</dd>
            <dt>Localização:</dt>
            <dd>{{ user.location }}</dd>
            <dt>Data de Nascimento:</dt>
            <dd>{{ user.birthdate }}</dd>
        </dl>
    </div>
</body>
</html>
